// @import 'freelancers';
@use "freelancers.scss" as *;
@use "orders.scss" as *;

.sidebar{
    .image{
        i.fa{
            color: white;
            font-size: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}